.ticket-container {
  margin: auto;
}

.ticket {
  position: relative;
  text-align: center;
  width: 586px;
  height: 586px;
  margin: auto;
  box-shadow: 0 0 10px #000;
  background: url("../../../../../../assets/images/img-download/free.png") center/cover no-repeat;
}

.martel-font-vip {
  top: 90px;
  font-family: 'Martel', serif;
  font-size: 115px;
  color: #2d2d2d;
  background:
    radial-gradient(
      ellipse farthest-corner at right bottom,
      #fef02d 0%, #fdd72b 8%, #e0aa38 30%, #bc9640 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #a3a3a3 0%, #bcbc7f 8%, #8e7a44 25%, #9b7b34 62.5%, #5d4a1f 100%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-title{
  font-family: 'Martel', serif;
  position: absolute;
  top: 40px;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
}

.img-body {
  width: 500px;
  font-family: 'Martel', serif;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-body-premium {
  top: 54%;
}

.img-footer {
  font-family: 'Martel', serif;
  position: absolute;
  white-space: nowrap;
  bottom: -10px;
  color: #000000;
  transform: translate(-50%, -50%);
  left: 50%;
}

.percent {
  bottom: -18px !important;
}

td {
  font-size: 22px;
  font-family: 'Martel', serif;
  font-weight: bold;
}

.add-padding td {
  padding: 20px 0;
}

/*To make .remove work*/
tr {
  position: relative;
  transform: scale(1,1);

  &:hover > .remove {
    display: block;
  }
}

.remove {
  display: none;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #cccccc;
  cursor: pointer;
}

.top-90 {
  top: 90px;
}

.html-2-canvas-fix {
  width: 100%;
  border-top: 1px solid #a88538;
}
