.title-font {
  font-family: 'Martel', serif;
  color: #2d2d2d;
  font-weight: bold;
}

.main-content {
  margin-top: 42px;

  h1, h2 {
    font-family: 'Martel', serif;
    color: #2d2d2d;
    font-weight: bold;
  }
}

.buy-btn {
  margin-top: 10px;
  background-color: #bb953f;
  border-radius: 45px;
  color: white !important;
  font-family: 'Martel', serif;
  font-size: 30px;
  font-weight: bold;
  padding: 15px 55px 10px 55px;
  transition: all 0.2s ease-in-out;
  outline: none;

  &:hover {
    box-shadow: 0 5px 15px rgba(120, 105, 44, 0.71) !important;
    cursor: pointer;
  }
}

.buy-btn-container {
  margin-top: 62px;
}

h3 {
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Martel', serif;
}

h4, .disabled-msg {
  margin: 0 5px;
  font-family: 'Martel', serif;
}

.column-1 img {
  margin: 26px 0;
}

.column-2 img {
  margin: 39px 0;
}

.column-3 img {
  margin: 27px 0;
}

@media (max-width: 575px) {
  .title-font {
    font-size: 30px;
  }
  .main {
    margin-top: 16px;
  }
  .column-2 {
    margin-top: 10px;
  }
  .column-3 {
    margin-top: 30px;
  }
  .row h1 {
    font-size: 26px;
  }
  .row h2 {
    font-size: 24px;
  }
  .buy-btn {
    font-size: 26px;
  }
  .buy-btn-container {
    margin-top: 40px;
  }
}

@media (max-width: 390px) {
  .title-font {
    font-size: 26px;
  }
  .buy-btn {
    font-size: 22px;
  }
  .buy-btn-container {
    margin-top: 40px;
  }
}
