.about {
  width: 400px;
  max-width: 95%;
  background: rgba(150, 150, 150, 0.2);
  border: #999999 solid 1px;
  border-radius: 5px;
  padding-top: 10px;
  padding-right: 45px;
  margin-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
}

h1 {
  padding: 22px 0;
}

li:not(:last-child) {
  margin-bottom: 20px;
}
