<h1 class="martel-font center-text">BETex</h1>

<div class="container about">
  <ol>
    <li>
      Betex betting tips are our best picks for the weekend games. The money you
      make from our predictions is yours to keep. We can't see the future, so you are
      responsible for the bets you make and all the money you lose is only your
      responsibility. Keep in mind, in football surprises are always possible.
    </li>
    <li>
      Bet responsibly. Only bet money you can afford to lose.
    </li>
    <li>
      You are responsible to follow any and all laws concerning betting in your country.
    </li>
    <li>
      You can do whatever you want with the tips we publish, play them in accas, trebles,
      doubles, add them to your own weekend accas etc. that being said our strong recommendation
      is that you play only single bets. It takes patience and consistency but playing single
      bets is the best way to make money betting on sports.
    </li>
  </ol>
</div>

