.background {
  background-image: url("../../../assets/images/people_playing_footbal.jpg");
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.router {
  margin-top: 20px;
  margin-bottom: 60px;
}
