<form class="container forgotten-password" (ngSubmit)="sendResetPasswordLink()">
  <h2>Reset your password</h2>
  <h6>Enter your email address and we will send you a link to reset your password.</h6>

  <input type="text"
         name="email"
         class="form-control"
         placeholder="Enter your email address"
         required
         autofocus
         [(ngModel)]="email"
         (input)="fieldChange()">

  <ng-container *ngIf="submitted">
    <div *ngIf="success" class="alert alert-success my-alert">{{message}}</div>
    <div *ngIf="!success" class="alert alert-danger my-alert">{{message}}</div>
  </ng-container>

  <button class="btn btn-outline-secondary btn-block" type="submit">
    Send password reset email
  </button>
</form>
