<h1 class="martel-font center-text">Sandbox Guide</h1>

<div class="container sandbox-guide">
  <ol>
    <li>
      Log in as admin with username: 'admin' and password: '12345678'.
      This user can't be edited within the admin interface.
    </li>
    <li>
      Make PayPal payments with email: 'betex.sandbox@mail.com' and password: '12345678'.
      Please don't create tickets or monthly packages with a too high price so account
      doesn't get empty.
    </li>
    <li>
      Feel free to explore, create tips, tickets and users but please clean up after use
      so that future users can have a comfortable experience.
    </li>
  </ol>
</div>

